.hero {
  background-image: var(--hero-desktop-bg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100vw;
}

@media screen and (max-width: 375px) {
  .hero {
    background-image: var(--hero-mobile-bg);
    height: 20rem;
  }
}
